@{
    ViewBag.Title = "Gráfica";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-bar-chart"></i> Calificaciones
    </div>
    <div class="card-body">
        <canvas id="CalificacionesAlumnos" width="100" height="50"></canvas>
    </div>
</div>

<script src="~/Template/SB Admin/vendor/chart.js/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("CalificacionesAlumnos");
    var PromediosGrados = new Chart(ctx, {
        type: 'doughnut',
        data = {
            datasets: [{
                data: @ViewBag.Promedios,
            }],

            labels: [
                '1er. Grado',
                '2do. Grado',
                '3er. Grado'
            ]
        },
        options: options
    });
</script>