@{
    ViewBag.Title = "Ejercicio Práctico";
}

<div class="jumbotron">
    <center>
        <h3>@ViewBag.Title</h3>
    </center>
</div>

@using (Html.BeginForm("CargarExcel", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <h2>Subir Archivo</h2>
                <input name="doc" id="doc" type="file" class="input-file" /><br />
                <button type="submit" id="uploadFile" class="btn btn-success">
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    Guardar
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on("click", "#uploadFile", function (e) {
                var status = true; 
                var file = $("#doc").val();
                console.log(file);
                if (!file) {
                    swal("¡Error!", "Por favor ingrese un archivo para continuar", "warning");
                    status = false; 
                }

                if (!status) {
                    e.preventDefault();
                }
            });
        });
    </script>
}
